<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
     (function(m,e,t,r,i,k,a) {m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
         m[i].l=1*new Date();
         for (var j = 0; j < document.scripts.length; j++) {
             if (document.scripts[j].src === r) {
                 return;
             }
         }
         k=e.createElement(t),
         a=e.getElementsByTagName(t)[0],
         k.async=1,
         k.src=r,
         a.parentNode.insertBefore(k,a)
     })
         (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(93763831, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
     });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/93763831" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

  <!-- Meta tags -->
  <title>Лучшая автошкола в Москве: Профессиональное обучение вождению с опытными инструкторами</title>
  <link rel="canonical" href=https://schoolselect.ru/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Автошкола Москва, Обучение вождению в Москве, Школа вождения в Москве,\
    ,Вождение автомобиля в Москве, Курсы вождения в Москве, Автошкола с выдачей водительских прав в Москве,\
    Профессиональные инструкторы в автошколе, Онлайн-курсы вождения в Москве, Быстрое обучение вождению в Москве,\
    Гарантированное получение водительских прав в Москве, Цены на обучение в автошколе в Москве,\
    Индивидуальные занятия в автошколе, Автошкола для начинающих в Москве, Сравнение автошкол в Москве,\
    Автошкола с опытными инструкторами в Москве">
  <meta name="description" content="Ищете профессиональную автошколу в Москве? Получите качественное обучение\
    вождению от опытных инструкторов в лучшей автошколе. Наша школа предлагает индивидуальный подход, практические\
    занятия на современных автомобилях и гарантированное получение водительских прав. Запишитесь сейчас и станьте\
    уверенным водителем с нами!">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="Обучение в автошколе в Москве: станьте уверенным водителем с нами">
  <meta property="og:description" content="Хотите получить качественное обучение в автошколе в Москве? Присоединяйтесь\
    к нам и станьте уверенным водителем. Мы предлагаем индивидуальный подход, опытных инструкторов и современные автомобили.\
    Запишитесь на курсы уже сегодня!">
  <meta property="og:url" content=https://schoolselect.ru>
  <!-- Meta tags -->

  <link rel="stylesheet" href="{{ static_dir }}/css/main.css">
  <link rel="stylesheet" href="{{ static_dir }}/css/fonts.css">
  <link rel="stylesheet" href="{{ static_dir }}/css/output.css">
  <link rel="stylesheet" href="{{ static_dir }}/plugins/flickity/flickity.css">
</head>
